
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Poly-Social</h1>
    <p class="lead">We Aggregate Social Networks</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<body>
  <div class="container">

    <form class="thing-form">
      <!-- <label>Syncs in realtime across clients</label> -->
      <p class="input-group">
        <input type="text" class="form-control" placeholder="What is new?" ng-model="$ctrl.newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Submit</button>
        </span>
      </p>
    </form>

    <div ng-repeat="thing in $ctrl.awesomeThings" class="tweet">
      <div class="row">
        <h4 class="col-xs-3" style="padding-top: 50px;padding-bottom: 50px">
          <a ng-href="http://www.twitter.com/{{thing.twitterTimeline.user.screen_name}}" target="_blank"><img src={{thing.twitterTimeline.user.profile_image_url}} alt="profile_image_url"/> @{{thing.twitterTimeline.user.name}}</a>
        </h4>
        <div class="arrow_box col-xs-9">
          <button ng-if="isMyTweet(thing)" type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
          <button ng-if=" isMyStar(thing)" type="button" class="close" ng-click="$ctrl.unstarThing(thing)">
            <span class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
          </button>
          <button ng-if="!isMyStar(thing)" type="button" class="close" ng-click="$ctrl.starThing(thing)">
            <span class="glyphicon glyphicon-star-empty"></span>
          </button>
          <p class="message">
            {{thing.twitterTimeline.text}}
            <!-- {{thing.name}} -->
          </p>
          <span style="float: right;padding-top:30px;">via <a ng-href="http://www.twitter.com/{{thing.twitterTimeline.user.screen_name}}/status/{{thing.twitterTimeline.id_str}}" target="_blank">Twitter</a> on {{thing.twitterTimeline.created_at}}
          </span>
        </div>
      </div>
      <!-- <div ng-show='busy'>Loading data...</div> -->
    </div>

  </div>
</body>
