
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Poly-Social</h1>
    <p class="lead">We Aggregate Social Networks</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<body>
  <div class="container">

    <form class="thing-form">
      <!-- <label>Syncs in realtime across clients</label> -->
      <p class="input-group">
        <input type="text" class="form-control" placeholder="What is new?" ng-model="$ctrl.newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Submit</button>
        </span>
      </p>
    </form>

    <div ng-repeat="thing in $ctrl.awesomeThings" class="tweet">
      <div class="row">
        <h4 class="col-xs-3" style="padding-top: 50px;padding-bottom: 50px">
          <a ng-if= "thing.timeline.timelineType =='Twitter'" ng-href="http://www.twitter.com/{{thing.timeline.user.screen_name}}" target="_blank">
            <img src={{thing.timeline.userAvatar}} alt="userAvatar" height="48" width="48"> @{{thing.timeline.user.name}}
          </a>
          <a ng-if= "thing.timeline.timelineType =='Sina Weibo'" ng-href="http://www.weibo.com/{{thing.timeline.user.profile_url}}" target="_blank">
            <img src={{thing.timeline.userAvatar}} alt="userAvatar" height="48" width="48"> @{{thing.timeline.user.name}}
          </a>
        </h4>
        <div class="arrow_box col-xs-9">
          <!-- <button ng-if="isMyTweet(thing)" type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
          <button ng-if="isMyStar(thing)" type="button" class="close" ng-click="$ctrl.unstarThing(thing)">
            <span class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
          </button>
          <button ng-if="!isMyStar(thing)" type="button" class="close" ng-click="$ctrl.starThing(thing)">
            <span class="glyphicon glyphicon-star-empty"></span>
          </button> -->
          <p class="message">
            {{thing.timeline.text}}
            <!-- {{thing.name}} -->
          </p>
          <span style="float: right;padding-top:30px;">
            via
            <a ng-if="thing.timeline.timelineType == 'Twitter'" ng-href="http://www.twitter.com/{{thing.timeline.user.screen_name}}/status/{{thing.timeline.id_str}}" target="_blank">{{thing.timeline.timelineType}}
            </a>
            <a ng-if="thing.timeline.timelineType == 'Sina Weibo'" ng-href="http://www.twitter.com/{{thing.timeline.user.screen_name}}/status/{{thing.timeline.id_str}}" target="_blank">{{thing.timeline.timelineType}}
            </a>
            on {{thing.timeline.created_at}}
          </span>
        </div>
      </div>
      <!-- <div ng-show='busy'>Loading data...</div> -->
    </div>

  </div>
</body>
