<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Poly-Social</h1>
    <p class="lead">We Aggregate Social Networks</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<body>
  <div class="container">

    <form class="thing-form">
      <!-- <label>Syncs in realtime across clients</label> -->
      <p class="input-group">
        <input type="text" class="form-control" placeholder="What is new?" ng-model="$ctrl.newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Submit</button>
        </span>
      </p>
    </form>

    <div ng-repeat="thing in $ctrl.awesomeThings" class="tweet">
      <div class="row">
        <h3 class="col-xs-2">
          {{thing.user.name}}
        </h3>
        <div class="arrow_box col-xs-10">
          <button ng-if="isMyTweet(thing)" type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
          <button ng-if=" isMyStar(thing)" type="button" class="close" ng-click="unstarThing(thing)">
            <span class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
          </button>
          <button ng-if="!isMyStar(thing)" type="button" class="close" ng-click="starThing(thing)">
            <span class="glyphicon glyphicon-star-empty"></span>
          </button>
          <h2 class="message">
            {{thing.name}}
          </h2>
          <span style="float: right;">{{thing.createdAt}}</span>
        </div>
      </div>
      <div ng-show='busy'>Loading data...</div>
    </div>

  </div>
</body>

<!-- new twitter-like css -->
<!-- <div ng-repeat="thing in awesomeThings" class="tweet">
  <div class="row">
    <h2 class="col-xs-2">
      {{thing.user.name}}
    </h2>
    <div class="arrow_box col-xs-10">
      <button ng-if="isMyTweet(thing)" type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
      <h2 class="message">
        {{thing.name}}
      </h2>
      <span style="float: right;">({{thing.createdAt}})</span>
    </div>
  </div>
</div> -->

<!-- this is for backup -->
<!-- <div class="row">
    <div class="col-lg-12">
      <div ng-repeat="thing in $ctrl.awesomeThings">
        {{thing.user.name}}
        -
        {{thing.name}}
        ({{thing.createdAt}})
        <button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
      </div>
    </div>
  </div> -->